
h3 img {
    float: right;
    width: 18px;
    height: 18px;
}

.input-comment-edit {
    width: 640px;
    display: block;
}

.editable-click {
  text-decoration: none;
  border-bottom: none;
}
.editable-click.editable-disabled {
  text-decoration: none;
    border-bottom: none;
}
.editable-empty {
  text-decoration: none;
    border-bottom: none;
}

/* inspired from https://codepen.io/mohaiman/pen/jqKzVb */
.button-hover {
  text-align: center;
  cursor: pointer;
  font-size:14px;
  margin: 10px 0 10px 0;

  border-radius: 4px;
  background-color:lightgray;
  border-color:darkgray;
  border-style:solid;
  padding: 4px;
  transition: all 0.5s;
}


.button-hover span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-hover span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-hover:hover span {
  padding-right: 25px;
}

.button-hover:hover span:after {
  opacity: 1;
  right: 0;
}
