
h3 img {
    float: right;
    width: 18px;
    height: 18px;
}

.input-comment-edit {
    width: 640px;
    display: block;
}

.editable-click {
  text-decoration: none;
  border-bottom: none;
}
.editable-click.editable-disabled {
  text-decoration: none;
    border-bottom: none;
}
.editable-empty {
  text-decoration: none;
    border-bottom: none;
}
